<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
    <script src="{{ url_for('static', filename='script.js' )}}"></script>
  </head>
  <body>

    <div id="board">
      <div class="t-row" id="guess-1">
        <form id="guess-1" class="row-form">
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
        </form>
      </div>
      <div class="t-row" id="guess-2">
        <form id="guess-2" class="row-form">
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
        </form>
      </div>
      <div class="t-row" id="guess-3">
        <div id="guess-3" class="row-form">
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
        </div>
      </div>
      <div class="t-row" id="guess-4">
        <form id="guess-4" class="row-form">
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
        </form>
      </div>
      <div class="t-row" id="guess-5">
        <form id="guess-5" class="row-form">
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
        </form>
      </div>
      <div class="t-row" id="guess-6">
        <form id="guess-6" class="row-form">
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
          <div class="t-elem"><input autocomplete="off" class="char-guess" name="char-guess" type="text" maxlength="1"></div>
        </form>
      </div>
    </div>

  </body>
</html>
